*.pyc
*.log
*.swp
*.bak
.idea
.vscode
.DS_Store
.coverage.*

doc/source
doc/_build
doc/generated
doc/versions

testresult/
dist/
agl.egg-info/
cmake-build-debug/
output/
third_party/boost/
third_party/googletest/
third_party/protobuf/
.osscredentials
*pycache*

agl/python/data/mock_origin.txt
agl/python/data/test_file.txt
agl/version.py
agl/python/lib/libagl.so